body{
  font-family:Arial;
  background:#f4f4f4;
  margin:0;
}

nav{
  background:#1f1f1f;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:15px;
  font-weight:bold;
}

.video-section{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:30px;
}

.video-card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0px 0px 10px gray;
}

.video-box{
  width:320px;
  height:220px;
  background:black;
  border-radius:10px;
  overflow:hidden;
}

.controls{
  text-align:center;
  margin-top:30px;
}

button{
  padding:10px 20px;
  margin:10px;
  background:#1f1f1f;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

button:hover{
  background:#444;
}

.chat-box{
  background:white;
  width:450px;
  margin:30px auto;
  padding:20px;
  border-radius:10px;
  box-shadow:0px 0px 10px gray;
}

#message{
  width:100%;
  padding:10px;
}

.message{
  background:#f0f0f0;
  padding:10px;
  margin-top:10px;
  border-radius:5px;
}

.dark{
  background:#121212;
  color:white;
}

.dark .chat-box,
.dark .video-card{
  background:#1f1f1f;
  color:white;
}